; vim:filetype=gitconfig

[core]
	excludesFile = ~/dotfiles/.config/.gitignore.global

[user]
	name = Peacock
	email = me@p3ac0ck.net
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGZoZMoFitD0cy5UUiqRdvZqH/1yiE9+8yKo2YC2heiH
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
[pull]
	rebase = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
	template = ~/dotfiles/.config/git/commit-template
[credential "https://github.com"]
	helper = 
	helper = !~/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !~/.nix-profile/bin/gh auth git-credential
[delta]
	light = true
  syntax-theme = "Catppuccin-latte"
