on:
  workflow_dispatch:
  schedule:
    - cron: 0 16 * * * # everyday 01:00 JST

jobs:
  update-nix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: update-flake
        shell: bash
        run: nix flake update

      - name: git-commit
        shell: bash
        env:
          GIT_AUTHOR_NAME: "peaock0803sz"
          GIT_AUTHOR_EMAIL: "33555487+peacock0803sz@users.noreply.github.com"
          GIT_COMMITTER_NAME: "github-actions[bot]"
          GIT_COMMITTER_EMAIL: "github-actions[bot]@users.noreply.github.com"
        run: |
          if [[ $(git status --untracked-files --short) ]]; then
            git add .
            git commit -m "Update flake.lock"
            git push origin HEAD
          else
            echo "Nothing to commit"
          fi
